<!DOCTYPE HTML>
<!--    <meta charset="UTF-8" />-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <meta name="author" content="Stefan Korecko" />-->
<!--    <link rel="stylesheet"-->
<!--          href="/css/mines.css"-->
<!--          media="screen"/>-->

<html lang="sk"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">

<head>
    <title>GameStudio - Minesweeper</title>
</head>

<body>

<main layout:fragment="content">

<h2>Minesweeper</h2>


<div class="minesControl">
    <span th:if="${@minesweeperController.marking}">
        You are marking
        <a  class="abutton" href="/minesweeper/mark">Change to open.</a>
    </span>

    <span th:if="not ${@minesweeperController.marking}">
        You are opening
        <a  class="abutton" href="/minesweeper/mark">Change to mark.</a>
    </span>

    <a  class="abutton" href="/minesweeper/new">New game</a>

</div>

<div>
    The game state is <span th:text="${gameState}"></span>
    <span th:if="${gameState == 'SOLVED'}">
        Your score is <span th:text="${currentScore}"></span></span>
</div>


<div>
    <table class='minefield'>
        <tr th:each="row: ${minesweeperField}">
            <td th:each="tile: ${row}"
                th:attr="class=${@minesweeperController.getTileClass(tile)}">
                <a th:attr="href='/minesweeper/?row='+${rowStat.index}+'&column='+${tileStat.index}">
                    <span th:text="${@minesweeperController.getTileText(tile)}"></span>
                </a>
            </td>
        </tr>
    </table>
</div>

    <div th:if="${@userController.logged}">
        <form action="/minesweeper/comment" method="post">
            <label for="comment">Comment:</label> <input id="comment" type="text" name = "comment" required/><br/>
            <button type="submit">Submit comment </button>
        </form>
    </div>

    <form action="/minesweeper/rating" method="post">
        <label for="rating"> Rating of game: </label>
        <input id="rating" type="number" min="1" max="5" step="1" name = "rating" required/> <br/>
        <button type="submit"> Submit rating </button>
    </form>

<div>
    <table class="scores">
        <caption>Best scores</caption>
        <th>Player</th>
        <th>Score</th>
        <th>Date</th>

        <tr th:each="score: ${bestScores}">
            <td th:text="${score.getUsername()}">
            <td th:text="${score.getPoints()}">
            <td th:text="${score.getPlayedOn()}">
            </td>
        </tr>
    </table>
</div>

    <div>
        <table class="scores">
            <caption>Comments</caption>
            <th>Player</th>
            <th>Comment</th>
            <th>Date</th>

            <tr th:each="comment: ${comments}">
                <td th:text="${comment.getUsername()}">
                <td th:text="${comment.getComment()}">
                <td th:text="${comment.getCommented_on()}">
                </td>
            </tr>
        </table>
    </div>

    <div>
Average rating is <span th:text="${avgRating}"></span>
    </div>

</main>

</body>
</html>